*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* background-color: #e9e4f2; */
    text-transform: capitalize;
}

h4, p{
    margin: 0;
    padding: 0.3rem;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 2rem;
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
}

h1, .balance, .summary, form{
    /* color: #1e1e1f; */
    color: #F9F7F7;
}

.balance, .summary{
    font-size: 1.2rem;
}

.container h3{
    margin: 0.5rem;
}

.container p{
    margin-bottom: 1rem;
}

.summary{
    margin-bottom: 1rem;
}
.summary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.radio-btns{
    margin: 1rem;
}

.expense-tracker{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15vw;
}

.profile{
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

form .desc, .amt{
    width: 14vw;
    margin-right: 1rem;
    color: rgb(36, 35, 42);
    font-size: 0.9rem;
    min-height: 1.4rem;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;
}

.transactions{
    width: 80vw;
    /* overflow: scroll; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transactions h3{
    color: #F9F7F7;;
}

ul li{
    list-style: none;
    padding: 1rem;
    /* border: 3px solid #374151; */
    background: rgba(255, 255, 255, 0.827);
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 16%), 0 4px 5px 0 rgb(0 0 0 / 11%), 0 1px 10px 0 rgb(0 0 0 / 10%);
}

ul li{
    width: 40vw;
    margin-bottom: 0.5rem;
    /* background: rgb(43, 43, 43); */
    /* color: white; */
    border-radius: 5px;
}

.profile img{
    border-radius: 50%;
    border: 2px solid white;
}

/* BUTTONS */
button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffe1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button:hover,
button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.add-transaction-btn{
    margin-left: 0.5rem;
    padding: 1rem;
    height: 2rem;
}

.add-transaction-btn:hover {
    transform: none;
  }

.sign-out-btn{
    padding: 0.8rem;
}



/* =========================================== MEDIA QUERIES ============================================ */

@media (min-width: 380px) and (max-width: 800px){

    h1{
        margin-top: 1.2rem;
        font-size: 1.68rem;
    }

    .transactions{
        margin-top: -0.5rem;
        width: 100%;
    }

    ul{
        width: 100%;
        margin: 0; padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.1rem;
    }
    ul li{
        width: 95%;
    }

    .expense-tracker{
        flex-direction: column-reverse;
        gap: 0;
        margin-top: 1rem;
    }

    .profile{
        justify-content: center;
        align-items: center;
    }

    .sign-out-btn{
        margin-top: -1rem;
        height: 2rem;
    }

    .add-transaction{
        margin-top: -1rem;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    form .desc, .amt{
        margin: 0;
        width: 90%;
    }

    .summary{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15vw;
    }

    .radio-btns{
        margin: 0.8rem;
    }

    .balance h2{
        margin: 1rem;
    }
    .balance h3{
        margin-top: 2rem;
    }

}